data/mined_tweets
data/mined_reddit_comments
data/google_ngram_data
output
scripts/data_processing/.ipynb_checkpoints
scripts/data_processing/melt-2.0b4/
scripts/data_processing/ark-tweet-nlp-0.3.2/
scripts/data_processing/pySocialWatcher
scripts/data_processing/google-ngrams
scripts/data_processing/*.tsv
scripts/data_processing/*.csv
scripts/data_processing/twitter_data_files.txt
scripts/*/__pycache__/
scripts/*/.ipynb_checkpoints/
scripts/*/*.pyc
data/loanword_resources/maori_loanword_data.arff
data/loanword_resources/sample_tag_tweets/
writing/
